body {
	background-color: black ;
	font-family: 'Lucida Grande' , 'Arial MT' , Arial , sans-serif ;
	color: white ;
}

a , a:link , a:visited , a:active {
	color: white ;
	text-decoration: none ;
}

a:hover {
	color: gray ;
	text-decoration: none ;
}

abbr[title] {
	border-bottom-style: none ;
}

#main {
	vertical-align: middle ;
	text-align: center ;
	margin-left: auto ;
	margin-right: auto ;
	width: 450px ;
	font-size: 20pt ;
}

.big {
	font-size: 70pt ;
}