[submodule "plugins/GithubButtons"]
	path = plugins/GithubButtons
	url = git@github.com:westernmagic/css3-github-buttons.git
[submodule "plugins/Html5"]
	path = plugins/Html5
	url = git@github.com:westernmagic/html5-boilerplate.git
[submodule "plugins/AssetCompress"]
	path = plugins/AssetCompress
	url = git@github.com:westernmagic/asset_compress.git
[submodule "vendors/TCPDF"]
	path = vendors/TCPDF
	url = git@github.com:westernmagic/TCPDF.git
